/*
Utilities
*/
.admin * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: robo;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
}
.admin > header ,
.admin > title{
    top:0,
}
#add {
    padding: 10px;
}
.admin a {
    text-decoration: none;
    color: inherit;
}
.admin ul {
    list-style: none;
}
.admin input,
.admin textarea {
    color: #000000;
}
.sellerHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 40px;
}
/*
Table structure
*/
.admin {
    width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#table {
    width: 72vw;
    height: 85vh;
    padding-top: 15vh;
    margin-left: 28vw;
    
}
#table th {
    border: 1px solid #ddd;
    padding: 8px;
    border-radius: 20px;
}
#table th {
    width: 24vh;
    height: fit-content;
    padding-inline: 5px;
    padding-top: 5px;
    text-align: center;
    background-color: #535D77;
    color: white;
}



/* 
Seller card
 */

.card{
    display: grid;
    grid-template-columns: auto auto ;
    padding: 10px;
}
.cardbuttons{
    display: flex;
    justify-content: space-between;
    grid-column: 1/ span 2;
    grid-row: 2;
}
.image{
    width: 60%;
    margin-inline: 25px;
    margin-bottom: 20px;
    border-radius: 45.5px;
}
.name{
    align-self: center;
    margin-inline: 40px;
}
.button{
    height: 50px;
    width: 9vw;
    border-radius: 45.5px;
    border: 0;
}
.editbutton{
    background-color: #18A0FB;
}
.deletebutton{
    background-color: #FB1818;
}
.display{
    display:none;
}
.banbutton{
    background-color: #FB1818;
}
.cardbutton{
    display: flex;
    justify-content: space-around;
    grid-column: 1/ span 2;
    grid-row: 2;
}
@media screen and (max-width: 1350px) {
    .title h1 {
        font-size: 30px;
        font-weight: 700;
    }
}
