* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.navy {
	background-color: #001743;
}

.light-navy {
	background-color: #535d77;
}

.blue {
	background-color: #18a0fb;
}

.round {
	border-radius: 100px;
}

.button {
	background-color: #18a0fb;
	border-radius: 20px;
	height: 70px;
	width: 150px;
}
