/* Header */
.header-tab {
	justify-content: space-between;
	align-items: center;
}

/* Header logo */
.logo {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

/* Signin / Signup button */
.signin-button {
	width: 150px !important;
}

/* Search bar */
.search {
	justify-content: space-between;
	align-items: center;
	height: 7vh;
	min-height: 80px;
	border-bottom: solid 3px #18a0fb;
}

/* Page title */
.search h1 {
	font-size: 30px;
}

/* Search input */
#searchInput {
	width: 20vw;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border: none;
}

/* Search button */
.search-button {
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 100px !important;
	border-top-right-radius: 100px !important;
}

.search-bar-icons {
	gap: 50px;
}

/* Wishlist / Cart icons */
.wishlist-icon,
.cart-icon {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 2px;
	align-items: center;
	font-size: 12px;
	cursor: pointer;
	user-select: none;
}

/* Navigation bar */
.nav-bar {
	justify-content: space-between;
	border-bottom: solid 2px rgb(212, 212, 212);
	align-items: center;
}

.nav-items {
	gap: 3vw;
	cursor: pointer;
	user-select: none;
}

.send-voucher {
	align-items: center;
	cursor: pointer;
	user-select: none;
}

.nav-items li {
	position: relative;
}

.nav-items li::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -3px;
	width: 0;
	height: 2px;
	background-color: var(--blue);
	transition: 300ms;
}

.nav-items li:hover::after {
	width: 100%;
}

.nav-items li:hover {
	color: #18a0fb;
}
