.header-tab {
	justify-content: space-between;
	align-items: center;
}

.logo {
	margin-left: 20px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.signin-button {
	margin: 10px 20px 10px;
	width: 150px !important;
}

.search {
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	height: 7vh;
	min-height: 80px;
	border-bottom: solid 3px #18a0fb;
}

.search h1 {
	font-size: 30px;
}

#searchInput {
	width: 20vw;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border: none;
}

.search-button {
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}

.wishlist-icon,
.cart-icon {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 2px;
	align-items: center;
	width: 100px;
	font-size: 12px;
	cursor: pointer;
	user-select: none;
}
