/* Header */
.header-tab {
	justify-content: space-between;
	align-items: center;
}

/* Header logo */
.logo {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

/* Signin / Signup button */
.signin-button {
	width: 150px !important;
}

/* Search bar */
.search {
	justify-content: space-between;
	align-items: center;
	height: 7vh;
	min-height: 80px;
	border-bottom: solid 3px #18a0fb;
}

/* Page title */
.search h1 {
	font-size: 30px;
}

/* Search input */
#searchInput {
	width: 20vw;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border: none;
}

/* Search button */
.search-button {
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 100px !important;
	border-top-right-radius: 100px !important;
}

.search-bar-icons {
	gap: 50px;
}

/* Wishlist / Cart icons */
.wishlist-icon,
.cart-icon {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 2px;
	align-items: center;
	font-size: 12px;
}

/* Navigation bar */
.nav-bar {
	justify-content: space-between;
	border-bottom: solid 2px rgb(212, 212, 212);
	align-items: center;
}

/* Navigation items */
.nav-items {
	gap: 3vw;
}

.send-voucher {
	align-items: center;
}

/* Navigation items' animation */
.nav-items li {
	position: relative;
}

.nav-items li::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -3px;
	width: 0;
	height: 2px;
	background-color: var(--blue);
	transition: 400ms;
}

.nav-items li:hover::after {
	width: 100%;
}

.nav-items li:hover {
	color: #18a0fb;
}

/* Ads' slider */
.ads-container {
	position: relative;
	margin: 5vh auto;
}

.ad-slides {
	display: none;
	width: 100%;
	height: 25vw;
	background-color: rgb(83, 93, 119, .1);
}

.ad {
	margin: auto;
	display: block;
	width: 100%;
	height: 25vw;
	object-fit: contain;
}

/* Previous and next button styling */
.slider-btn {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 8px 16px;
	margin-top: -22px;
	color: rgb(0, 0, 0);
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 50%;
}

.previous {
	left: 60px;
}

.next {
	right: 60px;
}

.previous:hover,
.next:hover {
	color: rgb(255, 253, 253);
	background-color: rgba(0, 0, 0, 0.8);
}

/* Fade animation */
.fade {
	animation-name: fade;
	animation-duration: .5s;
}

@keyframes fade {
	from {
		opacity: .4;
	}
	to {
		opacity: 1;
	}
}

/* Categories */
.body-header {
	font-size: 30px;
	margin-bottom: 25px;
}

/* Categories container */
.categories-container {
	justify-content: space-between;
}

/* Category elements */
.category-background-container {
	width: 27vw;
	height: 17vw;
	overflow: hidden;
}

.category-background-laptop {
	background: linear-gradient(rgb(0, 0, 0, 0.3), rgb(0, 0, 0, 0.3)), url(../images/list-d14.jpg);
}

.category-background-smartphone {
	background: linear-gradient(rgb(0, 0, 0, 0.3), rgb(0, 0, 0, 0.3)), url(../images/Smartphones-unter-200-Euro.jpg);
}

.category-background-camera {
	background: linear-gradient(rgb(0, 0, 0, 0.3), rgb(0, 0, 0, 0.3)), url(../images/DSLR_P1_900x420.jpg.img.jpg);
}

.category-background-laptop,
.category-background-smartphone,
.category-background-camera {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.category-cover {
	width: 100%;
	height: 100%;
	clip-path: polygon(0 0, 90% 0, 25% 100%, 0 100%);
	background-color: rgb(83, 93, 119, .8);
	font-size: clamp(15px, 1.5vw, 25px);
	text-transform: uppercase;
	padding: 1.5vw 1.5vw;
}

.shop-now {
	margin-top: 20px;
	align-items: center;
	font-size: clamp(10px, .8vw, 18px);
	gap: 5px;
}

.material-symbols-outlined.md18 {
	font-size: 18px;
}

.shop-now h4 {
	font-weight: normal;
}

/* View categories button */
.view-categories {
	display: block;
	margin: 15px auto 5vh;
	width: 150px !important;
}

/*Nerw products*/
.new-products {
	justify-content: space-between;
}

.product {
	position: relative;
	border-radius: 10px;
	width: 16vw;
	min-width: 250px;
}

.product-image-container {
	width: 100%;
	height: 30vh;
	justify-content: center;
}

.product-image {
	width: 80%;
	object-fit: cover;
}

.product-category {
	font-size: 15px;
	text-align: center;
}

.product-name {
	font-size: 22px;
	text-align: center;
}

.price {
	font-size: 20px;
	text-align: center;
	color: var(--blue);
	margin-bottom: 20px;
}

.product-category,
.product-name,
.price {
	margin-top: 5px;
}

.product-icons {
	background-color: rgb(220, 220, 220);
	justify-content: space-evenly;
	width: 100%;
	padding: 10px 0;
	align-items: center;
}

.material-symbols-outlined.md30 {
	font-size: 30px;
}

.product-cart {
	position: absolute;
	width: 95%;
	left: 2.5%;
	bottom: -60px;
	height: 60px;
}

.add-to-cart {
	display: block;
	margin: 10px auto 0;
}

.new-products-arrows {
	justify-content: end;
	gap: 3px;
	padding-top: 70px;
}

.product-right,
.product-left {
	border-radius: 50%;
	width: 36px;
	height: 36px;
	transition: 300ms;
}

.product-left {
	padding: 6px 0 0px 7px;
}

.product-right {
	padding: 6px 0 0 11px;
}

.product-right:hover {
	background-color: rgb(223, 223, 223);
}

.product-left:hover {
	background-color: rgb(223, 223, 223);
}

.footer h2 {
	margin-bottom: 20px;
	text-transform: uppercase;
	font-size: 20px !important;
}

.footer li,
.footer p {
	margin-bottom: 15px;
	color: rgb(190, 190, 190) !important;
}

.footer li:hover {
	text-decoration: underline;
}

.footer-subsection {
	gap: 10vw;
	padding-top: 5vh !important;
	padding-bottom: 5vh !important;
}

.about-us {
	width: 26vw;
}

.social-media {
	justify-content: start;
	padding: 20px 0;
	gap: 10px;
}

.social-media-items {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	border: 2px solid white;
	padding: 8px 0;
	transition: 400ms;
}

.social-media-items:hover {
	background-color: white;
}

.social-media-items:hover path {
	fill: black;
}

.credit-cards {
	width: 100%;
	justify-content: center;
	gap: 15px;
	padding: 15px 0;
}

.credit-cards img {
	width: 50px;
	height: 30px;
	object-fit: cover;
}

.footer-second-subsection p {
	text-align: center;
	padding-bottom: 10px;
	font-size: 12px;
	margin-bottom: 0 !important;
}
