/*  */
* {
    color: #ffffff;
}
/* Header */
.header {
    width: 72%;
    height: 15%;
    background-color: #001743;
    position: fixed;
    left: 15%;
    font-size: 36px;
}
.header h2 {
    padding-left: 3.5%;
}

/* Title */
.title {
    width: 28%;
    height: 15%;
    background-color: #808dac;
    position: fixed;
}
.title h1 {
    font-size: 44px;
    font-weight: 700;
}
.title p {
    font-size: 26px;
    font-weight: 400;
    text-align: center;
}
.title img {
    width: 62px;
    height: 62px;
}

/* Left Panel */
.panel {
    width: 28%;
    height: 85%;
    background-color: #767687;
    position: fixed;
    top: 15%;
}
.nav-tab {
    width: 28%;
    height: 11%;
    background-color: #2a3143;
    border-radius: 20px;
    border: 1px solid #ffffff;
}
.nav-tab-selected {
    background-color: #007aff;
}
.sub-nav-tab {
    background-color: #905fd7;
}
.sub-nav-tab-selected {
    background-color: #6b6ced;
}
