/*
Utilities
*/
.admin * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: robo;
    font-family: "Roboto", sans-serif;
    font-size: 1.3vw;
    font-weight: 300;
    color: rgb(255, 255, 255);
}
.admin > header ,
.admin > title{
    top:0,
}
#add {
    padding: 10px;
}
.admin a {
    text-decoration: none;
    color: inherit;
}
.admin ul {
    list-style: none;
}
.admin input,
.admin textarea {
    color: #000000;
}
.sellerHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 40px;
}
.sellerHeader h2{
    font-size: 2vw;
    font-weight: bold;
}
/*
Table structure
*/
.modal {
     display: none;
    position: fixed; 
    z-index: 2; 
    left: 0;
    top: 0;
    width: 50vw; 
    height: 50vh;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.admin {
    width: 99vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.table {
    width: 72vw;
    height: 85vh;
    padding-top: 15vh;
    margin-left: 27vw;
    
}
.table th {
    border: 1px solid #ddd;
    padding: 8px;
    border-radius:8px;
}
.table th {
    width: 16vw;
    height: fit-content;
    padding-inline: 5px;
    padding-top: 5px;
    text-align: center;
    background-color: #535D77;
    color: white;
}



/* 
Seller card
 */

.card{
    display: grid;
    grid-template-columns: auto auto ;
    padding: 10px;
}
.cardbuttons{
    display: flex;
    justify-content: space-between;
    grid-column: 1/ span 2;
    grid-row: 2;
}
.image{
    width: 60%;
    margin-inline: 25px;
    margin-bottom: 20px;
    border-radius: 45.5px;
}
.name{
    align-self: center;
    margin-inline: 40px;
}
.button:hover {
    width: 10vw;
    height: 4.5vw;
}
.button{
    height: 4vw;
    width: 9vw;
    border-radius: 45.5px;
    border: 0;
    cursor: pointer;
}
.editbutton{
    background-color: #18A0FB;
}
.deletebutton{
    background-color: #FB1818;
}
.display{
    display:none !important;
}
.banbutton{
    background-color: #FB1818;
}
.cardbutton{
    display: flex;
    justify-content: space-around;
    grid-column: 1/ span 2;
    grid-row: 2;
}
@media screen and (max-width: 1350px) {
    .title h1 {
        font-size: 30px;
        font-weight: 700;
    }
}
