/*
Utilities
*/
.admin * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: robo;
    font-family: "Roboto", sans-serif;
    font-size: 1.3vw;
    font-weight: 300;
    color: rgb(233, 233, 233);
    /* background-color: rgba(255, 255, 255, 0.486); */
}
#add {
    padding: 1vh;
}
.sellerHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 40px;
}
.sellerHeader h2{
    font-size: 2vw;
    font-weight: bold;
}
/*
Table structure
*/
.modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100vw; 
    height: 100vh;
    background-color: rgba(0,0,0,0.4); 
}
.modal-content {
    background-color: #fefefe;
    margin: auto auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 50%; 
    height: 80%;
    top:10%
    border-radius: 10px;
    background-color: #fefefe;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.admin {
    width: 99vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.table {
    font-size: 1vw;
    width: 82vw;
    height: 92vh;
    padding-top: 8vh;
    margin-left: 18vw;
    
}
.table th {
    font-size: 1vw;
    border: 1px solid #ddd;
    padding: 8px;
    border-radius:8px;
    background-color: #535D77;
}
.table td {
    width: 16vw;
    font-size: 1vw;
    height: fit-content;
    padding-inline: 5px;
    padding-top: 5px;
    text-align: center;
    color: rgb(0, 0, 0);
}



/* 
Seller card
 */

.button{
    height: fit-content;
    width: fit-content;
    border-radius: 45.5px;
    border: 0;
    cursor: pointer;
}
.editbutton{
    background-color: #18A0FB;
}
.deletebutton{
    background-color: #FB1818;
}
.display{
    display:none !important;
}
.banbutton{
    background-color: #FB1818;
}
.cardbutton{
    display: flex;
    justify-content: space-around;
    grid-column: 1/ span 2;
    grid-row: 2;
}
@media screen and (max-width: 1350px) {
    .title h1 {
        font-size: 12px;
        font-weight: 150;
    }
    .title p {
        font-size: 10px;
        font-weight: 100;
    }
}
