/* 
Reset 
*/

.seller * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: robo;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
}
.seller img {
    height: 100%;
}
.seller a {
    text-decoration: none;
    color: inherit;
}
.seller ul {
    list-style: none;
}

/* 
Utilities
*/
.seller {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.seller-popup {
    background-color: #ffffff;
    width: 72%;
    position: fixed;
    min-height: 85%;
    top: 15%;
    left: 28%;
    overflow: scroll;
}
.seller-btn {
    width: 150px;
    height: 110px;
    border-radius: 20px;
    background-color: #007aff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.seller-btn:hover {
    width: 155px;
    height: 115px;
}
.seller-btn-discard {
    background-color: #ee2222;
}
.seller-popup-hidden {
    visibility: hidden;
}

/* 
Categories
*/
.seller-categories {
    width: 72%;
    position: fixed;
    min-height: 85%;
    top: 15%;
    left: 28%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.seller-category {
    width: 38%;
    height: 38vh;
    border: 1px solid #000000;
    border-radius: 20px;
    margin-top: 5%;
}
.seller-category:hover {
    width: 40%;
    height: 40vh;
}
.seller-category img {
    width: 100%;
    height: 80%;
}
.seller-category-name {
    font-size: 30px;
    font-weight: 600;
    color: black;
    text-align: center;
}

/* 
New categories
*/
.seller-categories-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 5%;
}
.seller-categories-add-img {
    height: 73vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.seller-categories-add-img:hover {
    height: 75vh;
}
.seller-categories-info div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 30px;
}
.seller-categories-info label {
    margin-bottom: 10px;
}
.seller-categories-info input {
    border-radius: 15px;
    width: 100%;
    height: 50px;
}
.seller-categories-info textarea {
    border-radius: 15px;
}
.seller-categories-btns {
    flex-direction: row !important;
    justify-content: space-between;
}
/* 
Category page
*/
.seller-category-page-popup {
    width: 72%;
    position: fixed;
    min-height: 85%;
    top: 15%;
    left: 28%;
}
.seller-categories-subheader {
    color: #000000;
    padding: 2% 0 2% 3.5%;
    background-color: #535d77;
}
.seller-category-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.seller-categories-product {
    width: 30%;
    height: 50%;
    border-radius: 20px;
    margin-top: 5%;
    background-color: #535d77;
    text-align: center;
    margin-bottom: 4%;
}
.seller-categories-product-info {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.seller-categories-product-info * {
    padding: 1%;
}
.seller-product-img {
    width: 100%;
}
.seller-categories-product-views {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d9d9d9;
}
.seller-categories-product-views * {
    color: #000000;
    padding: 1%;
}
.seller-categories-product-btns {
    display: flex;
    justify-content: space-evenly;
}
.seller-categories-product-btns * {
    flex: 1 0 50%;
    padding: 1.5%;
}
.seller-edit-btn {
    background-color: #007aff;
    border-radius: 0 0 0 15px;
}
.seller-delete-btn {
    background-color: #ee2222;
    border-radius: 0 0 15px 0;
}

.seller-categories-add-product {
    width: 30%;
    height: 50%;
    border-radius: 20px;
    margin-top: 5%;
    text-align: center;
    margin-bottom: 4%;
    border: #000000 1px solid;
}
.seller-categories-add-product p {
    font-size: 30px;
    font-weight: 600;
    color: black;
    margin: 15px 0;
}
.seller-categories-add-product img {
    width: 100%;
    height: 70%;
}
